---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

I am passionate about teaching and mentoring students in computer science and natural language processing.

## Teaching Experience

Currently, I am focusing on my PhD research, but I am always interested in mentoring undergraduate and graduate students.

## Mentoring

I enjoy working with students on research projects related to:
- Natural Language Processing
- Large Language Models
- Machine Learning
- Vision-Language Models

If you are interested in working with me on research projects, please feel free to reach out via email.

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}